body {
	background-color: #D9D9D6;
 	font-family: Arial;
 	margin: 0;
}

header {

  color: #FF6900;
  background-color: black;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

header h2 a {
  color: #FF6900;
  text-decoration: none;
}


.primary-navigation {
  font-family: Arial;
  text-transform: uppercase;
  font-weight: bolder;
}

.secondary-navigation {
  font-family: Arial;
}


.primary-navigation, .secondary-navigation {
  display: inline;
  list-style: none;

  padding-left: 0;
}

.primary-navigation li, .secondary-navigation li {
  display: inline;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


.developers {

	display:inline-block;
    width: 64px; 
    height: 64px;
}

.frankocean {
	height: 250px;
	width: 250px;
	border: 2px solid #FF6900;
	
}

a {
    float: left;
    width: 25%;
    height: 25%;
    position: relative;}




